.mccp-invoice #invoice-app.wrapper {
    height: unset;
    min-height: unset;
    flex-direction: column;
}

select#mccp_currency {
    width: 100%;
    padding: .25rem .5rem;
    border: 1px solid #999;
    border-radius: 4px;
    line-height: 2rem;
}
.coin-wrapper {
  display: flex;
  align-items: center;
}
.coin-icon {
  position: relative;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: .25rem;
  background-image: url(img/currencies/placeholder.svg);
  background-size: cover;
}
.coin-icon__small {
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: -5px;
  right: -5px;
}

.coin-icon.btc {
    background-image: url(img/currencies/btc.svg);
}
.coin-icon.tbtc {
    background-image: url(img/currencies/tbtc.svg);
}

.coin-icon.ltc {
    background-image: url(img/currencies/ltc.svg);
}
.coin-icon.tltc {
    background-image: url(img/currencies/ltc.svg);
}

.coin-icon.bch {
    background-image: url(img/currencies/bch.svg);
}
.coin-icon.tbch {
    background-image: url(img/currencies/bch.svg);
}

.coin-icon.doge {
    background-image: url(img/currencies/doge.svg);
}
.coin-icon.tdoge {
    background-image: url(img/currencies/tdoge.svg);
}

.coin-icon.trx {
    background-image: url(img/currencies/trx.svg);
}
.coin-icon.ttrx {
    background-image: url(img/currencies/ttrx.svg);
}

.coin-icon.eth {
    background-image: url(img/currencies/eth.svg);
}
.coin-icon.teth {
    background-image: url(img/currencies/teth.svg);
}

.coin-icon.bnb {
    background-image: url(img/currencies/bnb.svg);
}
.coin-icon.tbnb {
    background-image: url(img/currencies/tbnb.svg);
}

.coin-icon.link_eth {
    background-image: url(img/currencies/link.svg);
}
.coin-icon.link_teth {
    background-image: url(img/currencies/tbch.svg);
}

.coin-icon.gram {
    background-image: url(img/currencies/gram.svg);
}
.coin-icon.tgram {
    background-image: url(img/currencies/tgram.svg);
}

.coin-icon.ton {
    background-image: url(img/currencies/ton.svg);
}
.coin-icon.tton {
    background-image: url(img/currencies/tton.svg);
}

.coin-icon.usdc {
    background-image: url(img/currencies/usdc.svg);
}
.coin-icon.tusdc {
    background-image: url(img/currencies/tusdc.svg);
}
.coin-icon.usdt {
    background-image: url(img/currencies/usdt.svg);
}
.coin-icon.tusdt {
    background-image: url(img/currencies/tusdt.svg);
}

.payment_method_mccp .select2 {
  width: 100% !important;
}
