.mccp-invoice #invoice-app.wrapper {
    height: unset;
    min-height: unset;
    flex-direction: column;
}

select#mccp_currency {
    width: 100%;
    padding: .25rem .5rem;
    border: 1px solid #999;
    border-radius: 4px;
    line-height: 2rem;
}
.coin-wrapper {
  display: flex;
  align-items: center;
}
.coin-icon {
  position: relative;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: .25rem;
  background-image: url(img/currencies/placeholder.svg);
}
.coin-icon__small {
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: -5px;
  right: -5px;
}

.coin-icon.btc, .coin-icon.tbtc {
    background-image: url(img/currencies/btc.svg);
    background-size: cover;
}

.coin-icon.ltc, .coin-icon.tltc {
    background-image: url(img/currencies/ltc.svg);
    background-size: cover;
}

.coin-icon.bch, .coin-icon.tbch {
    background-image: url(img/currencies/bch.svg);
    background-size: cover;
}

.coin-icon.doge {
    background-image: url(img/currencies/doge.svg);
    background-size: cover;
}

.coin-icon.trx, .coin-icon.ttrx {
    background-image: url(img/currencies/trx.svg);
    background-size: cover;
}

.coin-icon.eth,.coin-icon.teth {
    background-image: url(img/currencies/eth.svg);
    background-size: cover;
}
.coin-icon.bnb,.coin-icon.tbnb {
    background-image: url(img/currencies/bnb.svg);
    background-size: cover;
}
.coin-icon.link_eth,.coin-icon.link_teth {
    background-image: url(img/currencies/link.svg);
    background-size: cover;
}

.coin-icon.ton,.coin-icon.tton {
    background-image: url(img/currencies/ton.svg);
    background-size: cover;
}

.coin-icon.usdc {
    background-image: url(img/currencies/usdc.svg);
    background-size: cover;
}
.coin-icon.usdt {
    background-image: url(img/currencies/usdt.svg);
    background-size: cover;
}

.coin-icon.tbtc, .coin-icon.tbch, .coin-icon.tltc,
.coin-icon.ttrx, .coin-icon.teth,  .coin-icon.tbnb
{
    filter: grayscale();
}

.payment_method_mccp .select2 {
  width: 100% !important;
}
