@import './mccp.css';

.currency-icon {
	width: 24px;
	height: 24px;
    display: inline-block;
    margin-right: .25rem;
    background-image: url(../vendor/apirone/apirone-sdk-php/src/assets/img/currencies/aprn.svg);

}

.currency-icon.btc, .currency-icon.tbtc {
    background-image: url(../vendor/apirone/apirone-sdk-php/src/assets/img/currencies/btc.svg);
    background-size: cover;
}

.currency-icon.ltc, .currency-icon.tltc {
    background-image: url(../vendor/apirone/apirone-sdk-php/src/assets/img/currencies/ltc.svg);
    background-size: cover;
}

.currency-icon.bch, .currency-icon.tbch {
    background-image: url(../vendor/apirone/apirone-sdk-php/src/assets/img/currencies/bch.svg);
    background-size: cover;
}

.currency-icon.doge {
    background-image: url(../vendor/apirone/apirone-sdk-php/src/assets/img/currencies/doge.svg);
    background-size: cover;
}

.currency-icon.trx, .currency-icon.ttrx {
    background-image: url(../vendor/apirone/apirone-sdk-php/src/assets/img/currencies/trx.svg);
    background-size: cover;
}

.currency-icon.eth,.currency-icon.teth {
    background-image: url(../vendor/apirone/apirone-sdk-php/src/assets/img/currencies/eth.svg);
    background-size: cover;
}
.currency-icon.bnb,.currency-icon.tbnb {
    background-image: url(../vendor/apirone/apirone-sdk-php/src/assets/img/currencies/bnb.svg);
    background-size: cover;
}
.currency-icon.link_eth,.currency-icon.link_teth {
    background-image: url(../vendor/apirone/apirone-sdk-php/src/assets/img/currencies/link_eth.svg);
    background-size: cover;
}

.currency-icon.usdc_trx, .currency-icon.usdc_ttrx,
.currency-icon.usdc_eth,.currency-icon.usdc_teth,
.currency-icon.usdc_bnb,.currency-icon.usdc_bnb {
    background-image: url(../vendor/apirone/apirone-sdk-php/src/assets/img/currencies/usdc.svg);
    background-size: cover;
}
.currency-icon.usdt_trx, .currency-icon.usdt_ttrx,
.currency-icon.usdt_eth, .currency-icon.usdt_teth,
.currency-icon.usdt_bnb, .currency-icon.usdt_tbnb {
    background-image: url(../vendor/apirone/apirone-sdk-php/src/assets/img/currencies/usdt.svg);
    background-size: cover;
}

.currency-icon.tbtc, .currency-icon.tbch, .currency-icon.tltc,
.currency-icon.ttrx, .currency-icon.usdc_ttrx, .currency-icon.usdt_ttrx,
.currency-icon.teth, .currency-icon.usdc_teth, .currency-icon.usdt_teth, .currency-icon.link_teth,
.currency-icon.tbnb, .currency-icon.usdc_tbnb, .currency-icon.usdt_tbnb
{
    filter: grayscale();
}
.token_item {
    display: flex;
    align-items: center;
    margin: .5rem 0;
}

@media only screen and (max-width: 782px){
	table.form-table.mccp-settings label.currency-label .woocommerce-help-tip {
		position: relative;
		top: 4px;
	}
}

table.form-table.mccp-settings label.currency-label{
    display: flex;
    align-items: center;
}
#mccp-order_states .form-table th {
    width:270px;
}
.icon-wrapper {
	height: 32px;
}

input::placeholder {
	color: #ccc;
}

td.forminp > table {
	margin-top: -16px !important;
}

.table-wrapper {
	padding-left: 16px;
	border-left: 3px solid #ccc;
}

input[type="checkbox"].currency-enabled {
	margin: 6px;
}

.mccp-settings input.regular-input,
.mccp-settings select {
	width: 400px !important;
}
.mccp-settings input.regular-input.error{
    border-color: red;
}

.mccp-settings .testnet-info {
	color: #888;
}
.mccp-settings .testnet-info__message {
	display: inline-block;
	margin: 5px 0;
	font-size: 12px;
}

.mccp-settings .not-valid {
	color: red;
}

.mccp-settings .valid {
	color: green
}

.mccp-settings .test-currency {
  filter: grayscale();
}
